<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hangman</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/hanging.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/thunder.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/displayLetters.css') }}">
    <script src="{{ url_for('static', filename='js/hanging.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/thunder.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/displayLetters.js') }}" defer></script>
</head>
<body id="flexbox-container">


<section class="thunder">
    {#<h1>Hangman</h1>#}
    <canvas id="canvas1"></canvas>
    <canvas id="canvas2"></canvas>
    <canvas id="canvas3"></canvas>
</section>

<div id="container">
    <canvas id="hangman" width="180" height="250"></canvas>
</div>


<div class="buttons">
    <button id="next">Next</button>
    <button id="reset">Reset</button>
</div>

{% if word_length %}
    <div id="letter-container">
        {% for foo in range(word_length) %}
            <div class="hidden">A</div>
        {% endfor %}
    </div>

    <div id="letter-container">
        {% for letter in alphabet %}
            <button data-letter='{{ letter }}' class="letter">{{ letter }}</button>
        {% endfor %}
    </div>
{% endif %}

</body>
</html>