<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hangman</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/hanging.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/thunder.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/displayLetters.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/hanging.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/thunder.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/displayLetters.js') }}" defer></script>
</head>
<body id="flexbox-container">
    <p id="game-title">Hangman</p>


<section class="thunder">

    <canvas id="canvas1"></canvas>
    <canvas id="canvas2"></canvas>
    <canvas id="canvas3"></canvas>
</section>

<div id="container">
    <canvas id="hangman" width="180" height="250"></canvas>
</div>


<div class="buttons">
    <button id="next">Next</button>
    <button id="reset">Reset</button>
</div>

{% if word_length %}
    <div class="letter-container">
        {% for foo in range(word_length) %}
            <div class="hidden-letter">A</div>
        {% endfor %}
    </div>

    <div class="letter-container">
        {% for letter in alphabet %}
            <button data-letter='{{ letter }}' class="letter">{{ letter }}</button>
        {% endfor %}
    </div>
{% endif %}

<!-- The Modal -->
<div id="puzzleModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <p class="white-gothic-text">Please, choose a topic!</p>
        <div id="image-container">
            <img src="/static/images/hangman_clean.png" alt="Clean code" class="puzzle-card" data-topic="clean_code">
            <img src="/static/images/hangman_history.png" alt="History" class="puzzle-card" data-topic="history">
            <img src="/static/images/hangman_music.jpg" alt="Music" class="puzzle-card" data-topic="music">
            <img src="/static/images/hangman_psy.png" alt="Psychology" class="puzzle-card" data-topic="psychology">
            <img src="/static/images/hangman_sql.png" alt="SQL" class="puzzle-card" data-topic="sql">
            <div id="topic-container">
                <span class="white-gothic-text">Clean code</span>
                <span class="white-gothic-text">History</span>
                <span class="white-gothic-text">Music</span>
                <span class="white-gothic-text">Psychology</span>
                <span class="white-gothic-text">SQL</span>
            </div>
        </div>
    </div>

</div>


<div id="display-puzzle"></div>


</body>
</html>