<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hangman</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</head>
<body>
<h1>Hangman</h1>
<div id="input-field">
    <form action="/">
        <label for="user-input">Please, enter a letter and press Enter</label>
        <input type="text" id="user-input" name="user-input" size="2">
    </form>
</div>
</body>
</html>